# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

# Logs
*.log

# OS junk
Thumbs.db
.DS_Store

# Ignore appsettings.json para não subir com senhas
CnpjVision.API/appsettings.json
